/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #ECF0F1;
    /* Fondo gris claro */
    color: #34495E;
    /* Texto en azul grisáceo */
}

/* Contenido principal */
main {
    width: 70vw;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

#map {
    margin: auto;
    height: 90%;
    width: 90%;
    z-index: 1;
}

.titulo-mapa {
    margin-bottom: 5px;
}