/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ECF0F1;
    /* Fondo gris claro */
}

/* Hero Section */
.hero {
    background-color: #2C3E50;
    /* Azul oscuro */
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Sections Container */
.sections-container {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #FFFFFF;
    text-align: center;
}

/* Individual Section Styling */
.section {
    width: 30%;
    /* Ajusta el ancho según sea necesario */
}

.section h2 {
    color: #5DADE2;
    /* Azul suave */
    font-size: 2rem;
    margin-bottom: 10px;
}

.section p {
    color: #34495E;
    /* Azul grisáceo oscuro */
    font-size: 1rem;
    max-width: 100%;
}

/* Contacto Section */
#contacto a {
    color: #2C3E50;
    /* Azul oscuro */
    text-decoration: underline;
}

#contacto a:hover {
    color: #A2D5F2;
    /* Azul claro */
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 100%;
    min-width: 100%;
    max-height: 500px;
    object-fit: cover;
}

/* Botones de control */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}