<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donar Dinero</title>
    <link rel="stylesheet" href="assets/styles/donar_dinero_style.css">
    <link rel="stylesheet" href="assets/styles/header_footer.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
                     <nav class="navbar">
                     <div class="left-header">
                         <a href="/home" class="logo-container">
                             <img src="assets/images/logo.png" alt="Logo" class="logo">
                             <span class="titulo">Heladeras Comunitarias</span>
                         </a>
                         <!-- Contenedor para el nuevo dropdown -->
                         {{#if userName}}
                         <div id="options-dropdown" class="dropdown">
                             <span class="options-info">
                                 <i class="fa-solid fa-bars"></i> Colaborar
                             </span>
                             <ul class="dropdown-menu">
                                 <li class="options-item"><a href="/donar_dinero"><i class="fa-solid fa-money-bill"></i> Donar Dinero</a></li>
                                 <li class="option-vianda"><a href="/donar_vianda"><i class="fa-solid fa-utensils"></i> Donar Vianda</a></li>
                                 <li class="options-item"><a href="/distribuir_viandas"><i class="fa-solid fa-arrow-right-arrow-left"></i> Distribuir Viandas</a></li>
                             </ul>
                         </div>
                         {{/if}}
                     </div>
                         <ul class="nav-links">
                             {{#if userName}}
                                 <li id="user-dropdown" class="dropdown">
                                     <span class="user-info">
                                         <i class="fa-solid fa-user"></i> {{userName}}
                                     </span>
                                     <ul class="dropdown-menu">
                                         <li><a href="/logout"><i class="fa-solid fa-power-off"></i> Cerrar Sesión</a></li>
                                     </ul>
                                 </li>
                             {{else}}
                                 <li id="login-link">
                                     <a href="/login" class="cta-button">Iniciar Sesión</a>
                                 </li>
                             {{/if}}
                         </ul>
                     </nav>
                 </header>

    <main>
        <h2>Donar Dinero</h2>

        <div class="form-container">
            <form action="#" method="post">
                <label for="monto">Ingresá el monto</label>
                <div class="input-container">
                    <!-- Ícono de dinero junto al campo -->
                    <i class="fas fa-dollar-sign"></i>
                    <input type="number" id="monto" name="monto" step="1" placeholder="0" required>
                </div>
                <button type="submit">Donar</button>
            </form>
        </div>
    </main>

    <footer class="footer">
        <p>&copy; 2024 ONG</p>
    </footer>
</body>
<script src="assets/scripts/header_dropdown.js"></script>
</html>
