<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Reportes </title>
    <link rel="stylesheet" href="assets/styles/reportes_style.css">
</head>
<body>

     <!-- Menú de navegación -->
        <header>
        <nav>
                        <ul>
                            <a href="/colaborar"><li>Colaborar</li></a>
                            <a href="/carga_csv"><li>Carga CSV</li></a>
                            <a href="/heladeras"><li>Heladeras</li></a>
                            <a href="/reportes"><li>Reportes</li></a>
                        </ul>
                        <a href="#" class="logout">Cerrar Sesión</a>
                    </nav>
    </header>

    <!-- Contenido principal -->
    <main>
        <h1>Reportes</h1>
        <div class="reportes-box">
            <h2>Reportes Disponibles</h2>
            <div class="buttons">
                <a href="#" class="boton">Cantidad de Fallas por Heladera</a>
                <div><div>
                <a href="#" class="boton">Cantidad de Viandas Retiradas/Colocadas por Heladera</a>
                <div><div>
                <a href="#" class="boton">Cantidad de Viandas por Colaborador</a>
                <div><div>
            </div>
        </div>
    </main>

</body>
</html>
